.create-layout-content {
    margin-left: 3px;
    & .form-wrap {
        display: flex;
        justify-content: center;
        margin-top: 2%;
        & .form-permission {
            background-color: white;
            width: 70%;
            padding: 20px;
            & .title-wrap {
                font-size: 20px;
                margin: 0 0 20px 0;
                & hr {
                    margin-top: 0;
                }
            }
        }
    }
}