.Access{
    &-permission{
        font-weight: 600;
    };
    &-tag{
        font-weight: normal;
        width: 80px;
        padding: 4px 0;
        text-align: center;
    };
    &-rule__tag--ALLOW{
        color: #1890ff;
        background: #e6f7ff;
        border-color: #91d5ff;
    };
    &-rule__tag--DENY{
        color: #fa8c16;
        background: #fff7e6;
        border-color: #ffd591;
    };
    &-rule__tag--BLOCK{
        color: #f5222d;
        background: #fff1f0;
        border-color: #ffa39e;
    };
    &-rule__title{
        font-weight: normal;
    }
}